{% load static %}

<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Autima - HTML Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

<!-- CSS
========================= -->
<!--bootstrap min css-->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<!--owl carousel min css-->
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<!--slick min css-->
<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
<!--magnific popup min css-->
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
<!--font awesome css-->
<link rel="stylesheet" href="{% static 'assets/css/font.awesome.css' %}">
<!--ionicons min css-->
<link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">
<!--animate css-->
<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
<!--jquery ui min css-->
<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
<!--slinky menu css-->
<link rel="stylesheet" href="{% static 'assets/css/slinky.menu.css' %}">
<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">

<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/rtl-style.css' %}">

<!--modernizr min js here-->
<script src="{% static 'assets/js/vendor/modernizr-3.7.1.min.js' %}"></script>
