{% load static %}
<!-- JS
============================================ -->

<!--map js code here-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="{% static 'assets/js/map.js' %}"></script>


<!--jquery min js-->
<script src="{% static 'assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
<!--popper min js-->
<script src="{% static 'assets/js/popper.js' %}"></script>
<!--bootstrap min js-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!--owl carousel min js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!--slick min js-->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!--magnific popup min js-->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!--jquery countdown min js-->
<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
<!--jquery ui min js-->
<script src="{% static 'assets/js/jquery.ui.js' %}"></script>
<!--jquery elevatezoom min js-->
<script src="{% static 'assets/js/jquery.elevatezoom.js' %}"></script>
<!--isotope packaged min js-->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<!--slinky menu js-->
<script src="{% static 'assets/js/slinky.menu.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'assets/js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>


