{% load static %}


    <!--slider area start-->
    <section class="slider_section slider_two mb-50">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static 'assets/img/slider/slider10.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h2>Hight Quality</h2>
                                <h1>The Parts Of Shock Absorbers Assembly</h1>
{#                                <a class="button" href="shop.html">shopping now</a>#}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static 'assets/img/slider/slider11.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h2>Special Offer</h2>
                                <h1>Get &250 In Total Discount On A New Set Of Tries</h1>
{#                                <a class="button" href="shop.html">shopping now</a>#}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static 'assets/img/slider/slider12.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h2>HP Racer Skutex</h2>
                                <h1>Feel The Greatest Oil Power With Best One Oil</h1>
{#                                <a class="button" href="shop.html">shopping now</a>#}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--slider area end-->

    <!--banner area start-->
{#    <section class="banner_area mb-50">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="banner_container">#}
{#                        <div class="single_banner">#}
{#                            <div class="banner_thumb">#}
{#                                <a href="shop.html"><img src="{% static 'assets/img/bg/banner3.jpg' %}" alt=""></a>#}
{#                                <div class="banner_text">#}
{#                                    <h3>Car Audio</h3>#}
{#                                    <h2>Super Natural Sound</h2>#}
{#                                    <a href="shop.html">Shop Now</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="single_banner">#}
{#                            <div class="banner_thumb">#}
{#                                <a href="shop.html"><img src="{% static 'assets/img/bg/banner4.jpg' %}" alt=""></a>#}
{#                                <div class="banner_text">#}
{#                                    <h3>All - New</h3>#}
{#                                    <h2>Perfomance Parts</h2>#}
{#                                    <a href="shop.html">Shop Now</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!--banner area end-->