{% extends 'base/base.html' %}
{% load static %}
{% block banner %}{% endblock %}
{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'products:product_list_view' %}">home</a></li>
                            <li>product details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--product details start-->
    <div class="product_details mt-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">

                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="{{ product.image_main.url }}"
                                     data-zoom-image="{{ product.image_main.url }}" alt="big-1">
                            </a>
                        </div>

                        <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                       data-image="{{ product.image_main.url }}"
                                       data-zoom-image="{{ product.image_main.url }}">
                                        <img src="{{ product.image_main.url }}" alt="zo-th-1"/>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                       data-image="{{ product.image_main.url }}"
                                       data-zoom-image="{{ product.image_main.url }}">
                                        <img src="{{ product.image_main.url }}" alt="zo-th-1"/>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                       data-image="{{ product.image_accessories.url }}"
                                       data-zoom-image="{{ product.image_accessories.url }}">
                                        <img src="{{ product.image_accessories.url }}" alt="zo-th-1"/>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                       data-image="{{ product.image_accessories.url }}"
                                       data-zoom-image="{{ product.image_accessories.url }}">
                                        <img src="{{ product.image_accessories.url }}" alt="zo-th-1"/>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <form action="#">

                            <h1>{{ product.name }}</h1>
                            {#                            <div class="product_nav">#}
                            {#                                <ul>#}
                            {#                                    <li class="prev"><a href="product-details.html"><i class="fa fa-angle-left"></i></a></li>#}
                            {#                                    <li class="next"><a href="variable-product.html"><i class="fa fa-angle-right"></i></a></li>#}
                            {#                                </ul>#}
                            {#                            </div>#}
                            <div class=" product_ratting">
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <div class="price_box">
                                <span class="current_price">${{ product.discounted_price }}</span>
                                <span class="old_price">${{ product.price }}</span>
                            </div>
                            <div class="product_desc">
                                <p>{{ product.properties }}</p>
                            </div>
                            <div class="product_variant color">
                                <h3>Available Options</h3>
                                {#                                <label>color</label>#}
                                {#                                <ul>#}
                                {#                                    <li class="color1"><a href="#"></a></li>#}
                                {#                                    <li class="color2"><a href="#"></a></li>#}
                                {#                                    <li class="color3"><a href="#"></a></li>#}
                                {#                                    <li class="color4"><a href="#"></a></li>#}
                                {#                                </ul>#}
                            </div>
                            <div class=" product_d_action">
                                <ul>
                                    <li><p>Stock: {{ product.stock }}</p></li>
                                    <br>
                                    <li><p>Brand: {{ product.brand }}</p></li>
                                    <br>
                                    <li><p>Category: {{ product.category.name }}</p></li>
                                </ul>
                            </div>
{#                            <div class="product_meta">#}
{#                                <span><a href="#"></a></span>#}
{#                            </div>#}
                            <div class="product_variant quantity">
{#                                <label></label>#}
                                {#<input min="1" max="100" value="1" type="number">#}
                                <input  class="button cart_btn" pr-id= {{ product.id }} type="button" value="add to cart" style="background-color:#ffd54c;width: 100px;height:40px; border: none;cursor: pointer;border-radius:3px">
                            </div>
                        </form>
                        <div class="priduct_social">
                            <ul>
                                <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i>
                                    Like</a></li>
                                <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a>
                                </li>
                                <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> save</a>
                                </li>
                                <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i>
                                    share</a></li>
                                <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> linked</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->

{% endblock %}