{% extends 'base/base.html' %}
{% load static %}
{% block slider %}{% endblock %}
{% block banner %}{% endblock %}
{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'products:product_list_view' %}">home</a></li>
                            <li>My account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- my account start  -->
    <section class="main_content_area">
        <div class="container">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list" id="nav-tab">
                                <li><a href="#orders" data-toggle="tab" class="nav-link" id="orders">Orders</a></li>
                                <li><a href="#address" data-toggle="tab" class="nav-link" id="address">Addresses</a>
                                </li>
                                <li><a href="#account-details" data-toggle="tab" class="nav-link"
                                       id="profile">Profile</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9" id="to_fill">
                        <!-- Tab panes -->
                        {#                        <div class="tab-content dashboard_content">#}


                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- my account end   -->


    <script>

        $('#orders').on('click', function () {
            console.log('heyyy!')
            $.ajax({
                type: 'GET',
                url: '{% url 'orders:panel_orders_list' %}',
                success: function (response) {
                    console.log(response['order'])
                    $('#to_fill').html(response['order'])
                },
                error: function (error) {

                },
            })
        })


        $('#address').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '{% url 'address-list' %}',
                success: function (response) {
                    console.log(response['address'])
                    $('#to_fill').html(response['address'])
                },
                error: function (error) {

                },
            })
        })


        $('#profile').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '{% url 'user-list' %}',
                success: function (response) {
                    console.log(response['user'])
                    $('#to_fill').html(response['user'])
                },
                error: function (error) {

                },
            })
        })


    </script>
{% endblock %}
{#{% block footer %}{% endblock %}#}