{% extends 'base/base.html' %}
{% block slider %}{% endblock %}
{% block banner %}{% endblock %}
{% block content %}
    <!--shopping cart area start -->
    <div class="shopping_cart_area mt-32">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price(Discounted)</th>
                                        <th class="">Discount</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="">Total</th>
                                        <th class="">Update</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_id">
                                    {% for orderitem in items %}
                                        <tr>
                                            <td class="product_remove" orderitem_id="{{ orderitem.id }}"
                                                orderitem_product_id="{{ orderitem.product.id }}"><a
                                                    href="#"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb"><img
                                                    src="{{ orderitem.product.image_main.url }}" alt=""></td>
                                            <td class="product_name">{{ orderitem.product.name }}</td>
                                            <td class="product_price" price="{{ orderitem.product.discounted_price }}">
                                                ${{ orderitem.product.discounted_price }}</td>
                                            <td>
                                                {% if orderitem.product.discount.type == 'percent' %}
                                                    {{ orderitem.product.discount.value }}%
                                                {% else %}
                                                    {{ orderitem.product.discount.value }}$
                                                {% endif %}
                                            </td>
                                            <td class="product_quantity">
                                                <label>Quantity</label>
                                                <input class="product_quantity" min="1" max="1000"
                                                       value="{{ orderitem.count }}" type="number">
                                            </td>
                                            <td class="product_total">{{ orderitem.product.discounted_price }}$</td>
                                            <td>
                                                <div class="cart_submit" style="width: 104%">
                                                    <input style="background-color:#ffd54c;border: none;height: 40px; border-radius: 3px; color: white"
                                                           type="button" class="update_item"
                                                           orderitem_id="{{ orderitem.id }}"
                                                           orderitem_product_id="{{ orderitem.product.id }}"
                                                           value="update item">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <div class="order_id" style="display: none"
                                         order_id="{{ orderitem.order.id }}">
                                    </div>
                                    {% endfor %}
                                </table>
                            </div>
                            {#                            <div class="cart_submit">#}
                            {#                                <button type="" id="update_btn">update cart</button>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
                <!--coupon code area start-->

                <div class="coupon_area"
                     style="display:{% if request.user.is_authenticated %}block{% else %}none{% endif %}">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code left">
                                <h3>Coupon</h3>
                                <div class="coupon_inner">
                                    <p>Enter your coupon code if you have one.</p>
                                    <input placeholder="Coupon Code" type="text">
                                    <input type="button" id="coupon_btn" coupon_order_id="{{ order.id }}"
                                           style="background-color:#ffd54c;border: none;height: 40px; border-radius: 3px; color: white"
                                           value="Apply coupon">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>Cart Totals</h3>
                                <div class="coupon_inner">
                                    <div class="cart_subtotal">
                                        <p>Subtotal</p>
                                        <p class="cart_amount" id="subtotal"></p>
                                    </div>
                                    <div class="cart_subtotal ">
                                        <p>Discount(Coupon)</p>
                                        <p class="cart_amount" id="coupon_disc"></p>
                                    </div>
                                    {#                                    <a href="#">Calculate shipping</a>#}

                                    <div class="cart_subtotal">
                                        <p>Total</p>
                                        <p class="cart_amount" id="final_total"></p>
                                    </div>
                                    <div class="cart_subtotal" id="address_opt">
                                        <label for="">Address</label>
                                        <select name="" id="address_id" class="form-control"
                                                style="margin-left: 20px">
                                            {% for address in order.customer.address_set.all %}
                                                <option value="{{ address.id }}">{{ address }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="checkout_btn" style="margin-top: 20px">
                                        <input type="button" id="checkout_id"
                                               style="background-color:#ffd54c;border: none;height: 40px; border-radius: 3px; color: white"
                                               value="Checkout">

                                        {#                                        <input type="button" id="checkout_id"#}
                                        {#                                               style="cursor: pointer;background-color: #ffd54c"#}
                                        {#                                               value="Checkout">#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--coupon code area end-->
            </form>
        </div>
    </div>
    <!--shopping cart area end -->
    <script>

        {#function refreshPage() {#}
        {#    window.location.reload();#}
        {# }#}

        $('.product_quantity input').change(function () {
            let quantity = $(this).val()
            let price = $(this).parent().parent().children('td.product_price').attr('price')
            let product_total_price = quantity * price
            $(this).parent().parent().children('td.product_total').html(`${product_total_price}$`)
            $(this).parent().parent().children('td.product_total').attr('total', product_total_price)
        })

        $(document).ready(function () {
            $('.product_quantity input').each(function () {
                let quantity = $(this).val()
                let price = $(this).parent().parent().children('td.product_price').attr('price')
                let product_total_price = quantity * price
                $(this).parent().parent().children('td.product_total').html(`${product_total_price}$`)
            })
            let sub_total = 0
            $('.product_total').each(function () {
                sub_total += parseFloat($(this).text())
                $('#subtotal').html(`${sub_total}$`)
                $('#final_total').html(`${sub_total}$`)
            })
        })

        $('#coupon_btn').on('click', function () {
            let coupon = $(this).parent().children('input').val()
            let order_id = $(this).attr('coupon_order_id')
            let sub_total = $('#subtotal').html()
            console.log('sub_total', sub_total)
            console.log(order_id)
            console.log(coupon)
            $.ajax({
                type: 'PATCH',
                url: '{% url 'order-detail' 0 %}'.replace('0', order_id),
                data: {'coupon': coupon, 'sub_total': sub_total},
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (response) {
                    console.log('final_price:', response['final_price'])
                    console.log('discount_coupon:', response['discount_coupon'])
                    $('#final_total').html(response['final_price'])
                    $('#coupon_disc').html(response['discount_coupon'])
                    Swal.fire(
                        'Accept!',
                        'Coupon applied',
                        'success'
                    )
                },
                error: function (error) {
                    Swal.fire(
                        'Oops!',
                        'Something is Wrong',
                        'Error'
                    )
                }
            })
        })

        $('.product_remove').on('click', function () {
            console.log('delete')
            let parent = $(this).parent()
            let orderitem_id = $(this).attr('orderitem_id')
            let orderitem_product_id = $(this).attr('orderitem_product_id')
            console.log('orderitem_product_id', orderitem_product_id)
            console.log('orderitem_id', orderitem_id)
            $.ajax({
                method: 'DELETE',
                url: '{% url 'orderitem-list' %}' + `${orderitem_id}`,
                data: {'product_id': orderitem_product_id},
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (response) {
                    $('#cart_num').html(response['orderitem_count'])
                    console.log('miad')
                    parent.remove()
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })


        $('#update_btn').on('click', function () {
            let sub_total = 0
            $('.product_total').each(function () {
                sub_total += parseFloat($(this).text())
                console.log('this:', parseFloat($(this).text()))
                console.log(sub_total)
                $('#subtotal').html(`${sub_total}$`)
                $('#total').html(`${sub_total}$`)
            })
        })


        $(document).ready(function () {
            let sub_total = 0
            $('.product_total').each(function () {
                sub_total += parseFloat($(this).text())
                $('#subtotal').html(`${sub_total}$`)
                $('#total').html(`${sub_total}$`)
            })
        })


        $('#checkout_id').on('click', function () {
            let total_price = parseFloat($('#subtotal').text())
            let final_price = parseFloat($('#total').text())
            let order_id = $('.order_id').attr('order_id')
            console.log(order_id)
            let status = 'paid'
            $.ajax({
                type: 'PATCH',
                url: '{% url 'order_update' 0 %}'.replace('0', order_id),
                data:{'final_price':final_price, 'total_price':total_price},
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (response) {

                },
                error: function (error) {
                    console.log(error)
                }

            })
        })


    </script>
{% endblock %}